.icon { background-image: url(../images/sprite.png);background-size: 404px 266px;}
.icon-icon1 { width: 128px; height: 128px; background-position: 0px 0px; }
.icon-icon2 { width: 128px; height: 128px; background-position: -138px 0px; }
.icon-icon3 { width: 128px; height: 128px; background-position: 0px -138px; }
.icon-icon4 { width: 128px; height: 128px; background-position: -138px -138px; }
.icon-icon6 { width: 128px; height: 128px; background-position: -276px 0px; }